# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log

# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm

# Optional REPL history
.env

dist
es
lib
